body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.first-section {
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 100px 0 100px;
}

.first-section,
.footer {
    background: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: small;
}

.header-text {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary-text,
a {
    font-size: 16px;
}

.hero-secondary-text,
.footer,
a {
    color: #cecece;
}

.first-section .content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 50px 0;
    gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right {
    width: 400px;
    height: 150px;
    background: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #3882f6;
    border-radius: 5px;
    color: #fff;
}

.second-section {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 16px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: center;
}

.box {
    flex: 1 0 auto;
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    background: #e5e7eb;
}

.third-section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 75px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}

.fourth-section .content {
    display: flex;
    justify-content: space-evenly;
    background: #3882f6;
    border-radius: 5px;
    padding: 20px 30px;
}

.fourth-section {
    padding: 50px 100px;
    color: #fff;
}

.call {
    font-weight: 900;
}

.sign-up {
    border: 2px solid #fff;
    padding: 0 10px 0 10px;
}

.footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}